.section_home {
    height: 800px;
    padding-left: 98px;
    padding-right: 98px;
    background-image: url(img/home/slider-img.jpg);
}

.home_trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.home_h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: -3px;
}

.home_text {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home_content {
    margin-top: 283px;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle_active {
    width: 40px;
    height: 40px;
    background-color: #212121;
}

.paggination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 19px;
}

.section_featured {
    padding-left: 98px;
    padding-right: 98px;
}

.featured_up {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.featured_new {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -2px;
    color: #6c6c6c;
    border-bottom: 1px solid #6c6c6c;
}

.featured {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.featured_down{
    margin: 50px 0px 120px;
    display: flex;
    flex-direction: row;
}

.feature_down_alignment{
    width: 270px;
    height: 270px;
    text-align: center;
    margin-right: 30px;
}

.feature_picture_1{
    background-image: url(img/home/section_featured/lamp.jpg);
}

.feature_picture_2{
    background-image: url(img/home/section_featured/chair.jpg);
}

.feature_picture_3{
    background-image: url(img/home/section_featured/jug.jpg);
}

.feature_picture_4{
    background-image: url(img/home/section_featured/stool.jpg);
    margin-right: -30px;
}

.feature_down_a{
    text-decoration: none;
}

.f_arr_padd{
    display: none;
    width: 202px;
    height: 210px;
    padding: 60px 32px 0px 32px;
    background-color: #ffffff;
    width: 205px;
    outline: 1px solid black;
    opacity: 0.9;
}

.feature_down_alignment:hover .f_arr_padd{
    display: block;
}

.feature_arr_center{
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}

.feature_arrow{
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0px 3px 7px rgba(0,0,0,0.5);  
}

.featured_h3{
    font-size: 22px;
    font-weight: 700;
    color: #212121;
}

.featured_text{
    margin-top: 33px;
    font-size: 13px;
    line-height: 21px;
    font-weight: 300;
    color: #6c6c6c;
}

/*SECTION_EXCLUSIVE*/
.section_exclisive{
    display: flex;
    text-align: left;
}

.excl_padd{
    padding: 230px 0px 0px 50px;
    width: 683px;
    height: 455px;
}

.excl_left{
    background-image: url(img/home/section_exclusive/promo_1.jpg);
}

.excl_right{
    background-image: url(img/home/section_exclusive/promo_2.jpg);
}

/*SECTION_TREND_PRODUCTS*/
.trend_products{
    padding: 120px 98px 90px;
}

.trend_pr_up{
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}

.trend_pr {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -2px;
    color: #212121;   
}

.trend_prod_pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trend_prod_pictures img{
    margin-bottom: 30px;
}

.trend_pr_a:hover{
    opacity: 0.7;
    outline: 1px solid grey;
}

/*SECTION_HOT_DEAL*/
.hot_deal{
    background-image: url(img/home/sectionn_hot_del/table.jpg);
    height: 800px;
}

.hot_deal_content{
    padding: 287px 0px 0px 100px;
}

.hot_deal_name{
    color: #e53935;
}

.hot_deal_paggination{
    margin-top: 226px;
}

/*SECTION_EXCLUSIVE_AND_SOMETHING_YET*/
.excl_and_someth_yet{
    padding: 120px 98px 90px 98px;
    display: flex;
}

.excl_and_smth_yet_left{
    background-image: url(img/home/section_exclusive_and_something_yet/product_big_left.jpg);
    width: 540px;
    height: 385px;
    padding: 186px 0px 0px 30px;
}

.excl_and_someth_yet_picture{
    width: 570px;
    padding-left: 30px;
}

.excl_and_someth_yet_picture img{
    margin-bottom: 30px;
}

.excl_and_smth_yet_a:hover img{
    opacity: 0.7;
    outline: 1px solid grey;
}

.excl_and_smth_yet_a_space{
    margin-right: 25px;
}

/*SECTION_MOBILE_APP*/
.mobile_app{
    background-image: url(img/home/section_mobile_app/back_img.jpg);
    height: 516px;
    padding: 125px 0px 0px 100px;
}

.mobile_app_name{
    color: #6c6c6c;
}

.mob_app_text{
    font-size: 22px;
}

.mob_app_store{
    background-image: url(img/home/section_mobile_app/app_store.jpg);
    width: 135px;
    height: 40px;
    margin-right: 10px;
}

.mob_app_google{
    background-image: url(img/home/section_mobile_app/google_play.jpg);
    width: 135px;
    height: 40px;
}

.mob_app_down{
    display: flex;
    flex-direction: row;
}

.mob_app_down:hover{
    opacity: 0.7;
}