*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.conteiner{
    width: 1366px;
    margin: 0 auto;
}

.menu{
    float: right;
}

.menu_list{
    list-style-type: none;
    float: left;
}

.menu_link{
    text-decoration: none;
    text-transform: uppercase;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 13px;
}

.menu_link:hover{
    color: #212121;
}

.menu_link_active{
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.header{
    padding-top: 63px;
}

.explore_a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #212121;
    letter-spacing: 3px;
}

.button_order {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 2px 5px 1px rgba(125, 104, 104, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    letter-spacing: 3.6px;
}

.button_order:hover {
    background-color: #c7c7c7;
}


.excl_h3{
    font-size: 18px;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #1e88e5;
}

.excl_h2{
    font-size: 36px;
    color: #212121;
    margin-bottom: 30px;
}

.excl_context{
    font-size: 13px;
    color: #6c6c6c;
    width: 374px;
    margin-bottom: 34px;
}