*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.conteiner{
    width: 1366px;
    margin: 0 auto;
}

.menu{
    float: right;
}

.menu_list{
    list-style-type: none;
    float: left;
}

.menu_link{
    text-decoration: none;
    text-transform: uppercase;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 13px;
}

.menu_link:hover{
    color: #212121;
}

.menu_link_active{
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.header{
    padding-top: 63px;
}